ul { 
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    --bs: 1px 1px 14px rgba(255, 255, 255, 0.518);
    --bs-soft: 0 0 3px #FFFFFF;
    --red:  #db3c3c;
    --red-soft: #ff5757;
    --white: rgb(255, 255, 255);
}


.formatation {
    color: inherit;
    text-decoration: none;
    color: var(--red-soft);
}
.formatation:hover{
    text-shadow: var(--bs);
}

.menu {
    display: flex;
    direction: rtl;
    padding: 10px;
    margin-right: 20px;
}
